.footer {
    position: relative;
    height: toRem(160px);
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        position: absolute;
    }
    
    img:first-child {
        left: var(--su-80);
        width: toRem(160px);
    }
    
    img:last-child {
        right: 0;
        bottom: 0;
        width: toRem(400px);
    }
    
    .wrap-xl {
        width: 100%;
        text-align: center;

        a {
            color: var(--blanco);
            text-decoration: underline;
        }
    }
}