.mosaico-clientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--su-48);
    list-style: none;
    padding: var(--su-48) var(--su-24);
    border-radius: var(--su-16);

    &__box-icon {
        background-color: var(--blanco);
        border-radius: 50%;
        width: calc(var(--su-96) + var(--su-32));
        height: calc(var(--su-96) + var(--su-32));
        position: relative;
    }
    
    h3 {
        color: var(--blanco);
        font-size: var(--t6);
        font-weight: normal;
        text-align: center;
        margin-top: var(--t7);
        opacity: .72;
    }

    img {
        display:  block;
        padding: var(--su-24);

        position: absolute;
        max-width: 100%;
        
        top: 50%;
        transform: translateY(-50%);
    }
}