-
    const MENU_ITEMS = [
        {
            item: '¿Quiénes somos?',
            itemUrl: 'quienes-somos.html',
        },
        {
            item: 'Servicios y soluciones',
            itemUrl: 'servicios-y-soluciones.html',
        },
        {
            item: 'Sectores',
            itemUrl: 'sectores.html',
        },
        {
            item: 'Clientes',
            itemUrl: 'clientes.html',
        },
    ]