-
    const FOOTER_LEGALES = [
        {
            item: 'Aviso de privacidad',
            itemUrl: '#',
        },
        {
            item: 'Terminos y condiciones',
            itemUrl: '#',
        },
        {
            item: 'Política de cookies',
            itemUrl: '#',
        },
    ]
    
    const FOOTER_LIGAS_INTERES = [
        {
            item: 'Lorem ipsum',
            itemUrl: '#',
        },
        {
            item: 'Lorem ipsum',
            itemUrl: '#',
        },
        {
            item: 'Lorem ipsum',
            itemUrl: '#',
        },
    ]
    
    const FOOTER_SOCIALES = [
        {
            item: '@saavienergia',
            itemUrl: 'https://es-la.facebook.com/saavienergia/',
            itemIcon: 'icon-saavi-facebook.svg',
        },
        {
            item: '@SaaviEnergia',
            itemUrl: 'https://twitter.com/saavienergia',
            itemIcon: 'icon-saavi-twitter.svg',
        },
        {
            item: 'Saavi Energía',
            itemUrl: 'https://mx.linkedin.com/company/saavienergia',
            itemIcon: 'icon-saavi-linkedin.svg',
        },
    ]