footer.bg-default.footer
    img(src=`${pathImg}poligonos-uno.svg` alt="Poligonos")
    section.footer__wrap.wrap-xl
        a(href=`assets/aviso-de-privacidad-ferrer-y-asociados.pdf` rel="noopener" target="_blank") Aviso Legal 
    img(src=`${pathImg}poligonos-dos.svg` alt="Poligonos")