extend ../templates/main
block content

    section.bg-default.subheader
        article.wrap-sm
            .subheader__title
                h1.blanco.t1.text-ac.animate__animated.animate__fadeInUp Clientes
                p.blanco.t4.text-ac.animate__animated.animate__fadeInUp Estas son algunas de las empresas que han confiando en nosotros 

    section.bg-default.clientes
        include ../components/mosaico_clientes